<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Employee</title>
</head>

<body>
<!-- <form th:action="@{/Employees/saveemp}" th:object="${employee}" method="post"> -->
<form th:action="@{/Employees}" th:object="${employee}" method="post">
Enter name:<input type="text" th:field="*{name}"><br><br>
Enter location:<input type="text" th:field="*{location}"><br><br>
Enter email:<input type="text" th:field="*{email}"><br>
<input type="submit" value="submit">
</form>
</body>
</html>